@import url(layout.css);
/* lijnnamen */
#wrapper{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4,auto);
    
}
header{
    
}
aside{
    
}
section:first-of-type{    
    
}
section:last-of-type{
    
}
footer{
    
}

 
