@import url(main.css);
main{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,100px);
    
}
.item01{
    grid-area: i1;
}
.item02{
    grid-area: i2;
}
.item03{
    grid-area: i3;
}
.item04{
    grid-area: i4;
}
.item05{
    grid-area: i5;
}
.item06{
    grid-area: i6;
} 
.item07{
    grid-area: i7;
}
.item08{
    grid-area: i8;
}