@import url(layout.css);
/* lijnnamen */
#wrapper{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
    "header header"
    "aside section1"
    "aside section2"
    "footer footer"
    ;
}
header{
    grid-area: header;
}
aside{
    grid-area: aside;
}
section:first-of-type{    
    grid-area: section1;
}
section:last-of-type{
    grid-area: section2;
}
footer{
    grid-area: footer;
}
 
