@import url(layout.css);
/* lijnnamen */
#wrapper {
  display: grid;
  grid-template-columns: [left-edge]1fr[aside-end section-start] 2fr[right-edge];
  grid-template-rows: [header-start]auto [content-start]auto[content-middle]auto[content-end footer-start]auto[footer-end];
}
header {
  grid-column: left-edge/right-edge;
  grid-row: header-start;
}
aside {
  grid-column: left-edge/aside-end;
  grid-row: content-start/content-end;
}
section:first-of-type {
  grid-column: section-start/right-edge;
  grid-row: content-start;
}
section:last-of-type {
  grid-column: section-start/right-edge;
  grid-row: content-middle;
}
footer {
  grid-column: left-edge/right-edge;
  grid-row: footer-start;
}
